#main_div {
  .selecione {
    display: flex;
    gap: 20px;

    a {
      border-radius: 30px;
      background-color: #f8f8ff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      padding: 20px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &:hover {
        transition: all 0.2s;
        background-color: #c4c4c4;
      }
    }
  }
}
