// fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// general styles
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #d3d3d3;
}

#main_div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #f8f8ff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px;
    border-radius: 30px;

    textarea,
    input,
    button {
      height: 36px;
      border-radius: 10px;
      border: none;
      transition: all 0.2s;
      font-size: 16px;
    }

    textarea {
      width: auto;
      padding: 20px;
      height: 80px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    input {
      padding: 0 20px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    button {
      padding: 0 36px;
      width: fit-content;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 700;
      border: 1px solid #000;
    }

    a.btn_voltar {
      text-align: left;
      width: 100%;
      font-size: 12px;
      font-weight: 700;
      text-decoration: none;
    }
  }

  #error_login {
    color: #d8000c;
    background-color: #ffbaba;
    border: 1px solid;
    margin: 20px 0 0;
    padding: 15px;
    font-size: 14px;
  }

  .table_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #f8f8ff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px;
    border-radius: 30px;
    width: 720px;

    .botoes {
      display: flex;
      justify-content: space-between;
      width: 100%;

      a {
        text-align: left;
        width: fit-content;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
      }
    }

    table {
      border-collapse: collapse;
      border-radius: 8px;
      border: 1px solid #000;

      th,
      td {
        border: 1px solid #000;
        padding: 5px 15px;
        text-align: left;
      }

      td.delete {
        text-align: center;
        a {
          width: 100%;
          height: 100%;
          display: block;
          color: red;
          text-decoration: none;
          font-weight: 700;

          &:hover {
            color: #a52a2a;
          }
        }
      }

      td.edit {
        text-align: center;
        a {
          width: 100%;
          height: 100%;
          display: block;
          color: #008000;
          text-decoration: none;
          font-weight: 700;

          &:hover {
            color: #006400;
          }
        }
      }

      td.description {
        max-width: 400px;
      }

      thead {
        background-color: #c4c4c4;
      }
    }
  }
}
